<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Address</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of allUsers | searchUser: searchText">
            <tr (click)="selectUser(user)">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.website}}</td>
                <td>{{user.address.city}}</td>
                <td>{{user.company.name}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>